.text-proposal
  color #5374C3 !important
.bg-proposal
  background #5374C3 !important
.text-draft
  color #E06666 !important
.bg-draft
  background #E06666 !important
.text-light-blue
  color #C7DFFC !important
.bg-light-blue
  background #C7DFFC !important

