.text-assignment
  color #49A6E4 !important
.bg-assignment
  background #49A6E4 !important
.text-draft
  color #E06666 !important
.bg-draft
  background #E06666 !important
.text-contribution
  color #589C99 !important
.bg-contribution
  background #589C99 !important
.text-role
  color #5374C3 !important
.bg-role
  background #5374C3 !important
